nav{
    background-color: white;
    height:100px;
    width:100%;
   
    padding: 20px;
    box-shadow: 1px 1px 7px black;
    
}
img{
    width: 150px;
    height:70px;
    margin-left: 50px;
}
nav ul{
   
   text-align: center;
    float:center;
    margin-top:-60px;
    margin-right:-10px;
    
}
nav ul li{
   display:inline-block;
   padding: 10px;
   font-weight: bold;
   margin:5px; 
   font-family: 'Courier New', Courier, monospace;
   font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: lightblue;
    padding: 10px;
    border-radius: 7px;
}
         .main{
            height:170px;
            width:300px;
            background-color: antiquewhite;
            margin-top:60px;
            margin-left:100px;
            box-shadow: 1px 1px 7px black;
        }
        .main h2{
            text-align: center;
            padding: 10px;
        }
        .main .main_content{
           text-align: center;
           width:100%;
           line-height: 30px;
           margin-top:-10px;
        }
        .main .main_content input{
            width: 200px;
            margin-top:-100px;
        }
        .reg{
            width:500px;
            height:600px;
            background-color: lightsteelblue;
            margin-left:600px;
            margin-top:-15%;
            box-shadow: 1px 1px 8px black;
        }
        .reg .reg_head{
            text-align: center;
        }
        .reg .reg_head h2{
           padding: 30px;
        }
        .reg .reg_content{
            line-height: 60px;
            padding: 10px;
        }
        .reg .reg_content input{
            line-height: 30px;
            width:95%;
            border-left:2px solid black;
        }
        .reg .reg_content .btn{
            text-align: center;
        }
        .reg .reg_content .btn button{
            padding: 10px;
            width:100px;
            font-size: 20px;
        }
        .foot p{
            margin-left:100px;
            padding-top:30px;
        }
footer{
    background-color: lightblue;
    padding: 50px;
}
 footer .pages{
    text-align:center ;
}
footer .pages h3{
    color:black;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    padding: 5px;
    font-weight: bold;
}
footer .pages a{
    text-decoration: none;
    margin:10px;
    color:orange;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer .pages a:hover{
    color:blue;

}
footer .doc{
    text-align:center ;
}
footer .doc h3{
    color:black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-weight: bold;
}
footer .doc a{
    text-decoration: none;
    margin:10px;
    color:orange;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer .doc a:hover{
    color:blue;
    
}
footer .social{
    text-align:center ;
}
footer .social h3{
    color:black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-weight: bolder;
}
footer .social a{
    text-decoration: none;
    margin:10px;
    color:orange;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
footer .social a:hover{
    color:blue;
    
}
footer .contact{
    text-align:center;
}
footer .contact h3{
    color:black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-weight: bold;
}
footer .contact a{
    text-decoration: none;
    text-decoration: none;
    margin:10px;
    color:orange;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
footer .contact a:hover{
    color:blue;
}