*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    background-color: white;
    height:100px;
    width:100%;
   
    padding: 20px;
    box-shadow: 1px 1px 7px black;
    
}
img{
    width: 150px;
    height:70px;
    margin-left: 50px;
}
nav ul{
   
   text-align: center;
    float:center;
    margin-top:-60px;
    margin-right:-250px;
    
}
nav ul li{
   display:inline-block;
   padding: 10px;
   font-weight: bold;
   margin:5px; 
   font-family: 'Courier New', Courier, monospace;
   font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}
nav ul li a:hover{
    background-color: lightblue;
    padding: 10px;
    border-radius: 7px;
}
.two{
    display: none;
}
ul li:hover>ul{
    display: block;
}
.main{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_Bz3FwK0yPzUha3nCHq2WJY2epS03ElbQZw&usqp=CAU");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:70vh;
}
.main_content{
    margin-left:10%;
    padding: 10px;
    line-height: 20px;
}
.main_content h2{
    margin:20px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 50px;
    margin-top:200px;
    margin-left: 80px;
}
.main_content span{
    font-size: 20px;
    font-weight: lighter;
    opacity:0.9;
    color:white;
    line-height: 30px;
}
.main_content .btn{
    margin-left:40%;
    margin-top: 90px;
}
.main_content .btn a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color:blueviolet;
    padding: 15px;
    border:1px solid white;
    color:white;
    border-radius: 10px;
}
.main_content .btn a:hover{
    border:1px solid black;
    background-color: orange;
    transition: 0.5s;
    color:black;
}

.product h2{
    color:black;
    text-align: center;
    padding:20px;
    margin:10px;
    font-size: 35px;
    text-transform: uppercase;
}
.product .product_container{
    display:flex;
    margin-left: 5%;
    margin-right: 5%;
}
.product .product_container .item{
    width:33.3%;
    height:auto;
    margin:10px;
}
.product .product_container .item .item_img{
    width:100%;
    height:230px;
    overflow: hidden;
}
.product .product_container .item .item_img img{
    width:300px;
    height:250px;
}
.product .product_container .item .item_content{
    text-align: center;
}
.product .product_container .item .item_content h3{
    padding:10px;
    font-size:25px;
    font-family: 'Courier New', Courier, monospace;
}
.product .product_container .item .item_content p{
    padding:10px;
    font-size:20px;
}
.product .product_container .item .item_content a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color:blueviolet;
    padding: 5px;
    border:1px solid black;
    color:white;
    border-radius: 10px;
}
.product .product_container .item .item_content a:hover{
    border:1px solid black;
    background-color: orange;
    transition: 0.5s;
    color:black;

}
.product .product_container .item:hover{
    box-shadow: 0px 3px 65px 0px gray;
}
 .product_btn{
    text-align: center;
    margin-top:50px;
}
.product_btn a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: blueviolet;
    border-radius: 10px;
    color:white;
    border:1px solid black;
    padding:15px;
    font-weight: bolder;
}
.product_btn a:hover{
    border:1px solid black;
    background-color: orange;
    transition: 0.5s;
    color:black;
}
.keypoint{
    padding:50px;
}
.keypoint .key_container{
    display: flex;
}
.keypoint  .key_container .key_content{
    width:40%;
    padding:20px;
    float:left;
}
.keypoint  .key_container .key_content li{
    list-style: none;
    margin:10px;
    padding: 10px;
    border-left:2px solid orange;
    color:black;
    font-family: 'Courier New', Courier, monospace;
    text-align:left;
    box-shadow: 0px 3px 65px 0px gray;
}
.keypoint  .key_container .key_img{
    width:40%;
    float:left;
}
.keypoint  .key_container .key_img img{
    width:700px;
    height:500px;
}
.testi{
    padding:50px;
}
.testi .testi_container{
    margin-right:10%;
    margin-left: 10%;
}
.testi .testi_container .item{
    width:100%;
    padding:20px;
    background-color: white;
}
.testi .testi_container .item .item_img{
    width:100%;
    height:280px;
    text-align: center;
}
.testi .testi_container .item .item_img img{
    width:700px;
    height:250px;
}
.testi .testi_container .item .item_content{
    text-align: center;
}
.testi .testi_container .item .item_content h3{
    padding:10px;
    font-size:25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.testi .testi_container .item .item_content p{
    padding:10px;
    font-size:20px;
}
footer{
    background-color: lightblue;
    padding: 50px;
}
 footer .pages{
    text-align:center ;
}
footer .pages h3{
    color:black;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    padding: 5px;
    font-weight: bold;
}
footer .pages a{
    text-decoration: none;
    margin:10px;
    color:orange;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer .pages a:hover{
    color:blue;

}
footer .doc{
    text-align:center ;
}
footer .doc h3{
    color:black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-weight: bold;
}
footer .doc a{
    text-decoration: none;
    margin:10px;
    color:orange;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
footer .doc a:hover{
    color:blue;
    
}
footer .social{
    text-align:center ;
}
footer .social h3{
    color:black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-weight: bolder;
}
footer .social a{
    text-decoration: none;
    margin:10px;
    color:orange;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
footer .social a:hover{
    color:blue;
    
}
footer .contact{
    text-align:center;
}
footer .contact h3{
    color:black;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    font-weight: bold;
}
footer .contact a{
    text-decoration: none;
    text-decoration: none;
    margin:10px;
    color:orange;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
footer .contact a:hover{
    color:blue;

    
}